
/* *{                                    
    background-color: aquamarine;
}

h1{
    background-color: darkred;
}

p{
    background-color: darksalmon;
}

li{
    background-color: blue;
} */

*{                                    
    background-color:white;}

.title{
    background-color:cornflowerblue;
    text-align: center;
}

.clase{
    background-color:rgb(184, 34, 34);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align-last:justify;
}

[href]{
    background-color: gray;
}

[href="https://google.com"]{
    background-color: orange;
}
[href^="color"]{
    background-color: orchid;
}
[href*="modo"]{
    background-color: yellow;
}
[href $="rojo"]{
    background-color: navy;
}
[lang|="en"]{
    background-color: magenta;
}

.text-1,
.text-2,
.text-3,
.text-4{
    background-color: steelblue;
}

div .title-2{
    background-color: skyblue;
}

.title-2 + .text-1 {
    background-color:seagreen;
}

.text-1 ~ p,
.text-1 ~ h2{
    background-color: tomato;
}

